<?xml version="1.0" encoding="UTF-8"?>
<web-app id="roe2" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
  
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
 
   
    <context-param>
        <description>Database credentials</description>
        <param-name>database</param-name>
        <param-value>jdbc:postgresql://localhost:5433/roe</param-value>
    </context-param>
    <context-param>
        <description>User name</description>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <description>Password</description>
        <param-name>password</param-name>
        <param-value>mambono5</param-value>
    </context-param>
    
    <context-param>
        <description>This is the filesystem path to the directory where metrics files are located.</description>
        <param-name>ROEFilesPath</param-name>
        <param-value>D:\Innovate\apache-tomcat-6.0.29\webapps\ROEsystem\WEB-INF\roe_files\</param-value>
    </context-param>
</web-app>